Name | Format | Description | Mandatory | Comments
---------- | ------- | ------- | ------- | ------- | ------- | -------
`uniqueId` | String | an identifier for correlating with your platform  | True |
`email` | Email String | account to import the reservation to  | True |
`currencyCode` | ISO-4217 String | booking currency | True |
`price` | Number | total price (excluding taxes paid at the hotel)  | True |
`tax` | Number | taxes included in the price (excluding taxes paid at the hotel) | Optional |
`roomType` | String | name of the room  | True |
`rooms` | Number | the number of rooms booked  | True |
`persons` | Number | the total number of persons in all the rooms  | True |
`children` | Number | the total number of children in all rooms | True |
`arrivalDate` | MM/DD/YYYY | arrival date to the hotel | True | must be a future date
`departureDate` | MM/DD/YYYY | departure date from the hotel  | True | must be after `arrivalDate`
`lastFreeCancelTime` | MM/DD/YYYY | the last date to cancel the booking for free.  | True | must be before `arrivalDate`. Omit if not a free cancellation reservation
`hotelName` | String | hotel name | True |
`mealPlan` | Number (<a href="#meal-plans">Enum</a>) | included meal plan  | True |
`address` | String | hotel street address  | True |
`city` | String | hotel city  | True |
`country` | String | hotel country  | True |
`latLong` | Geo String (`lat,long`) | geo location of the hotel | True | example: `32.78778,-79.93472`
`manageLink` | Url String | link to refer user to modify/cancel booking | True |
`thumbnail` | Url String | url to hotel picture | Optional |
`hotelLink` | Url String | link to hotel page in the site | Optional |
`hotelCode` | String | the ean hotel code | Optional |
`tripId` | String | the tripId provided to the user for this booking (used only when required by pruvo)  | Optional |
`custom` | String | custom data (used only when required by pruvo)  | Optional |

<aside class="notice">
A single request represent a single booking information. It can contain multiple rooms, only if they are exactly identical
</aside>
<aside class="notice">
price and tax paramters should be given in the `currencyCode` currency value.
</aside>
<aside class="warning">
(`persons` + `children`) / `rooms` must be a positive integer
</aside>
